<h1 *ngIf="showHeading">Portfólio</h1>
<ng-container *ngIf="!subbimited; else preview">
  <h2>Informações Pessoais</h2>
  <div>
    <form>
      <div>
        <label for="name">Nome</label>
        <input type="text" name="name" id="name" [(ngModel)]="nm" />
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" [(ngModel)]="em" />
      </div>
      <div>
        <label for="phone">Telefone</label>
        <input type="tel" name="phone" id="phone" [(ngModel)]="ph" />
      </div>
      <div>
        <label for="address">Endereço</label>
        <input type="text" name="address" id="address" [(ngModel)]="add" />
      </div>
    </form>
  </div>
  <h2>Qualificações</h2>
  <div *ngFor="let q of qualification; let i = index">
    <h3>Qualificação {{ i + 1 }}</h3>
    <form>
      <div>
        <label for="school">Escola/Colégio</label>
        <input type="text" name="school" id="school" [(ngModel)]="q.school" />
      </div>
      <div>
        <label for="degree">Grau</label>
        <input type="text" name="degree" id="degree" [(ngModel)]="q.degree" />
      </div>
      <div>
        <label for="year">Ano</label>
        <input type="text" name="year" id="year" [(ngModel)]="q.year" />
      </div>
    </form>
  </div>
  <div class="btn-container">
    <button (click)="addQualification()">Adicionar Qualificações</button>
    <button (click)="submit()" type="submit">Enviar</button>
  </div>
</ng-container>
<ng-template #preview>
  <div class="preview-container">
    <h2>Preview</h2>
    <div>
      <p [ngClass]="{ name: true }">{{ nm }}</p>
      <p>E-mail : {{ em }}</p>
      <p>Telefone : {{ ph }}</p>
      <p>Endereço : {{ add }}</p>
    </div>
    <div>
      <h3>Qualificações</h3>
      <div *ngFor="let q of qualification">
        <h5>Escola/Colégio : {{ q.school }}</h5>
        <h5>Grau : {{ q.degree }}</h5>
      </div>
      <button (click)="edit()" class="btn-edit">Editar</button>
    </div>
  </div>
</ng-template>
